<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Paradise</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <header>
        <img src="/img/store.jpg">
        <h1 class="logo">Fruit Paradise</h1>
    </header>
    <hr>
    <%=@content%>
    <hr>
    <footer>
        <p>Kontakta oss</p>
    </footer>
</body>
</html>
